<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Balloon Order page - Welcome and choose a Balloon</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to our Balloon Shop App</h1>
</header>
<main>
    <div>
        <ul>

            <li th:each="balon: ${balloons12}">
                <th:block th:text="${balon.getName()}"></th:block>
                <th:block th:text="${balon.getDescription()}"></th:block>
            </li>
        </ul>

    </div>
<form th:action="@{/da}" method="post">
    <h2>Choose balloon color:</h2>
    <input type="radio" name="color" value="Red Balloon"> Red Balloon<br/>
    <input type="radio" name="color" value="Green Balloon"> Green Balloon<br/>
    <input type="radio" name="color" value="Yellow Balloon"> Yellow Balloon<br/>
    <input type="radio" name="color" value="Blue Balloon"> Blue Balloon<br/>

    <br/>
    <button th:value="submit" >Submitaa</button>
</form>
</main>

</body>
</html>